@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f6f8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 3rem;
  color: #673109;
}

ul {
  text-align: center;
  padding-left: 0;
  margin: 0;
  background-color: #b27f5a;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  width: 32.5%;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #673109;
}

a:hover {
  color: #f5f6f8;
}

img {
  display: block;
  width: 100%;
  margin-bottom: .75em;
}

h2 {
  color: #7f4415;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .5em;
}

p:first-of-type {
  color: #7f4415;
  margin: 1em .75em;
  padding: .5em;
}
